.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
  background-color: #001a3a !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
  color: white;
}

nav {
  background-color: #001a3a !important;
}
