<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Navigation ein-/ausblenden</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    </div>

    <!-- Alle Navigationslinks, Formulare und anderer Inhalt werden hier zusammengefasst und können dann ein- und ausgeblendet werden -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav col-sm-4">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img alt="chapterOverview" src="images/chapterOverview-inactive.png">
          </a>
          <ul class="dropdown-menu scrollable-menu" id="chapterOverview">
            <li class="liste">
              <a href="#"><img alt="confirmation" src="images/confirmation.png"> CHECK! KOMPETENZENLISTE
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <div id="insert"></div>
            <!--<li class="liste">
              <a href="#"><img alt="confirmation" src="images/confirmation.png">CHECK! KOMPETENZENLISTE</a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">DAS BIN ICH</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ICH UND DIE ANDEREN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">DIE WELT UM MICH HERUM</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ICH WERDE SELBSTSTÄNDIG</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SICH BEWEGEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">LERNEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ARBEITEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">GESTALTEN UND ERSCHAFFEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SPRECHEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">FREMDSPRACHE</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">LESEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SCHREIBEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">MESSEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">LÖSUNGEN FINDEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ZÄHLEN UND RECHNEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">FORM UND RAUM ENTDECKEN</a></li>-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="educationalPlanPic">
            <img alt="educationalPlan" src="images/educationalPlan-inactive.png">
          </a>
          <ul class="dropdown-menu" id="educationalPlan">
            <li class="liste">
              <a href="#"><img alt="educationalPlan" src="images/educationalPlan-big.png"></a>
            </li>
            <div id="insert3"></div>
            <!--<li role="separator" class="divider"></li>
            <li class="liste"><a href="#">MATHE ZR BIS 10</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">DEUTSCH SATZANFÄNGE</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SACHKUNDE "DER WALD"</a></li>-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="achievedCompetencesPic">
            <img alt="achievedCompetences" src="images/achievedCompetences-inactive.png">
          </a>
          <ul class="dropdown-menu scrollable-menu" id="achievedCompetences">
            <li class="liste">
              <a href="#"><img alt="achievedCompetences" src="images/achievedCompetences-big.png">
                <p>DAS<br> KANN<br> ICH!</p>
              </a>

            </li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ALLE KOMPETENZEN!</a></li>
            <li role="separator" class="divider"></li>
            <div id="insert2"></div>
            <!--<li class="liste"><a href="#">DAS BIN ICH</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ICH UND DIE ANDEREN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">DIE WELT UM MICH HERUM</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ICH WERDE SELBSTSTÄNDIG</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SICH BEWEGEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">LERNEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ARBEITEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">GESTALTEN UND ERSCHAFFEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SPRECHEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">FREMDSPRACHE</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">LESEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SCHREIBEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">MESSEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">LÖSUNGEN FINDEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">ZÄHLEN UND RECHNEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">FORM UND RAUM ENTDECKEN</a></li>-->
          </ul>
        </li>


      </ul>


      <div class="hidden-xs">
        <a class="navbar-brand">
          <img alt="logo" id="logo" src="images/logo.png">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right col-xs float-xs-right text-xs-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="superheroPic">
            <img alt="superhero" src="images/student/superhero-robin-inactive.png"></a>
          <ul class="dropdown-menu" id="superhero">
            <li class="liste">
              <a href="#"><img alt="superhero" src="images/student/superhero-robin-big-active.png"></a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">MEIN PROFIL ÄNDERN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">MEIN PASSWORT ÄNDERN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#" routerLink="/deleteprofile" routerLinkActive="active">MEIN PROFIL LÖSCHEN</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="schoolPic">
            <img alt="school" src="images/school/school-inactive.png">
          </a>
          <ul class="dropdown-menu" id="school">
            <li class="liste">
              <a href="#"><img alt="school" src="images/school/school-purple-big-active.png"></a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="studyGroupPic">
            <img alt="studyGroup" src="images/studyGroup/studyGroup_2b_inactive.png"></a>
          <ul class="dropdown-menu" id="studyGroup">
            <li class="liste">
              <a href="#"><img alt="studyGroup" src="images/studyGroup/studyGroup_2b_active-big.png"></a>
            </li>

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="helpPic">
            <img alt="help" src="images/help-inactive.png"></a>
          <ul class="dropdown-menu" id="help">
            <li class="liste">
              <a href="#"><img alt="help" src="images/help-big.png">
                <p>BRAUCHST <br> DU HILFE?</p>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">SO GEHT'S!</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">VIDEO-TUTORIALS</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">HÄUFIG GESTELLTE FRAGEN</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">KONTAKT</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="logoutPic">
            <img alt="logout" src="images/logout-iactive.png"></a>
          <ul class="dropdown-menu" id="logout">
            <li class="liste">
              <a href="#"><img id="inListPic" alt="logout" src="images/logout-big.png">
                <p> MÖCHTEST DU<br> CHECK! <br>VERLASSEN?</p>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">JA</a></li>
            <li role="separator" class="divider"></li>
            <li class="liste"><a href="#">NEIN</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- <p><img alt="Lesen" src="images/chapter11/littleChapterFlag.png" id="littleChapterFlag"></p>
<p><img alt="illustrationLeft" src="images/illustrations/illustrationLeft.png" id="illustrationLeft"></p>
<p><img style="float:right" alt="scrollUp" src="images/chapter10/scrollUp.png" id="scrollUp"></p>
<p><img style="float:right" alt="illustrationRight" src="images/illustrations/illustrationRight.png" id="illustrationRight"></p>
<p><img style="float:right" alt="scrollDown" src="images/chapter10/scrollDown.png" id="scrollDown"></p>

 -->
