nav {
  background-color: #001a3a !important;
}

#footerlogo, #footertext{
  color: #4565ad;
  text-align: center;
}

#footerlogo{
  margin-top: 8px;
  margin-bottom: 1px;
}
#footertext{
  color: #4565ad;
  font-size: 10px;
  margin-bottom: -3px;
}

.resize {
    width: 70px;
    height: auto;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
